.uv-container {
    position: relative;
    padding: 24px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.05);
}
.uv-shameless-plug {
    position: absolute;
    left: 24px;
}
.uv-container .uv-field {
    padding: 8px 0px;
}
.uv-container h3, .uv-container h4 {
    margin-top: 2px;
}
.clearBtn.hide {
    display: none;
}
.uv-cell {
    padding: 0!important;
}
.uv-course {
    padding: 5px;
}
.uv-multi-select .uv-selected {
    background-color: rgb(78, 255, 92);
}